:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* @media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    .type {
        flex: 0 0 50%;
        box-sizing: border-box;
        margin-bottom: 20px;
        display: inline-grid;
    }
} */

@keyframes backgroundAnimation {
    0% {
        background-image: url('Photos/sky.jpg');
    }

    100% {
        background-image: url('Photos/sky.jpg');
    }
}

@keyframes moveRightToLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

h1 {
    font-size: 2.7em;
    line-height: 1.1;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(211, 244, 250);
    background-image: url('Photos/sky.jpg');
    animation: backgroundAnimation 5s infinite;
    display: grid;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    width: 100%;
}

button {
    border-radius: 6px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgb(3, 175, 206);
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: aliceblue;
    background-color: rgb(3, 175, 206);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

label {
    font-size: large;
}

input {
    background-color: rgb(3, 175, 206);
    border-radius: 14px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-bottom: 5%;
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(3, 175, 206);
}

.Buttom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(3, 175, 206);
    animation: moveRightToLeft 15s linear infinite;
}

.HeaderButton {
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgb(3, 175, 206);
    cursor: pointer;
    transition: background-color 0.25s;
    height: 50px;
}

.HeaderButton:hover {
    background-color: rgb(211, 244, 250);
}

.divStyle,
.tableStyle,
.divLogin {
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 100vh;
    border-radius: 5px;
    background-color: rgb(211, 244, 250);
    padding: 20px;
    gap: 10px;
}

.tableStyle {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.divLogin {
    animation: backgroundAnimation 5s infinite;
    line-height: 2.5;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

form {
    padding: 20px;
    border: 1px solid #03AFCE;
    border-radius: 5px;
}

.type {
    flex: 0 0 50%;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: inline-grid;
}

.type button,
.type img,
.type button:hover {
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 350px;
}

.img1,
.img3 {
    opacity: 0.7;
}

.foodImg {
    background-image: url('Photos/food2.webp');
}

.hostImg {
    background-image: url('Photos/hosting.png');
}

.toysImg {
    background-image: url('Photos/toys.jpg');
}

.babysitterImg {
    background-image: url('Photos/babyS.jpg');
}

.logo {
    background-image: url('./Photos/logo2.jpg');
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    width: 60px;
    border-radius: 4px;
}

.custom-button:hover {
    background-color: rgb(3, 175, 206) !important;
    /* border-color: rgb(211, 244, 250) !important; */
}

.custom-button {
    background-color: rgb(162, 223, 234) !important;
    /* border-color: rgb(3, 175, 206) !important; */
}